# .idea
# __pycache__
# data
# model
# slurm-docker-run_perso
# *.slurm
# run.sh
# preproc.py
# run*
# preproc.py
*.pyc
.idea
model
*.out
config/*
!config/ddpm_ddim/config_train.yml
!config/ddpm_ddim/config_sample.yml
!config/ed_4var/rr_dataset_config.yml
utils/analyse_csv.py
utils/analyse_npy.py
utils/dataset_wise_std.py
utils/plot_img.py
utils/plot_img_2.py
utils/plot_mean_image.py
utils/reshape_rename_samples.py
utils/reshape_sample_conditioned.py
utils/plot_diff_img.py
slurm/apptainer_stuff/sample_meluxina.sh
slurm/apptainer_stuff/train_meluxina.sh