# .idea
# __pycache__
# data
# model
# slurm-docker-run_perso
# *.slurm
# run.sh
# preproc.py
# run*
# preproc.py
*.pyc
.idea
model
*.out
utils/analyse_csv.py
utils/analyse_npy.py
utils/dataset_wise_std.py
utils/plot_img.py
utils/plot_img_2.py
utils/plot_mean_image.py
utils/reshape_rename_samples.py
utils/reshape_sample_conditioned.py
utils/plot_diff_img.py
slurm/apptainer_stuff/sample_meluxina.sh
slurm/apptainer_stuff/train_meluxina.sh
slurm/apptainer_stuff/train_meluxina.sh
utils/add_ensemble_id_col.py
utils/plot_member.py
utils/plot_ensemble_grid.py
slurm/apptainer_stuff/train_meluxina.sh
slurm/apptainer_stuff/sample_meluxina.sh
utils/TEMP_reshape.py
slurm/apptainer_stuff/build_container_tutorial.txt
slurm/apptainer_stuff/container_diffusion_2.def
slurm/apptainer_stuff/requirements_diffusion_2.txt
profile.svg
utils/make_mean_var_files.py
config_perso/
